<header>
  <div class="header-wrapper clearfix">
    <div class = "header-wrapper__left l-left">
      <div class="header-icon">
        <a href="/">
          <%= image_tag 'SoliChat-logo-white.png', :size => "170x70", :alt => "SoliChat" %>
        </a>
      </div>
    </div>

    <div class = "header-wrapper__right">
      <% if user_signed_in?%>
        <div class = "user-information-box">
          <div class = "user-information-wrapper">
            <%= image_tag current_user.avatar, :size => "45x45", :alt => "user" %>
            <a class = "header-link">Menu</a>
          </div>
          <div class = "user-nav">
            <div class = user-nav__box>
              <%= link_to "My Page", "/users/#{current_user.id}" %>
            </div>
            <div class = "user-nav__box">
              <a>News</a>
            </div>
            <div class = "user-nav__box">
              <a>Setting</a>
            </div>
            <div class = "user-nav__box">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        </div>
      <% else %>
        <div class = "signIn-box header-box">
          <%= link_to "Sign In", new_user_session_path, class: "header-link" %>
        </div>
      <% end %>

      <div class = "solichat-box header-box">
        <a class = "header-link">SoliChat</a>
      </div>
      <div class = "find-users-box header-box">
        <a class = "header-link">Friend</a>
      </div>
      <div class = "find-music-box header-box">
        <a class = "header-link">Music</a>
<!--         <div class = "class = music-menu-boxes">
          <div class = "music-menu-box">
            <a>探す</a>
          </div>
          <div class = "music-menu-box">
            <a>投稿する</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</header>
