
<div class = "posted_content">
  <div class = "posted_content__tags">
    <% this_categories = [] %>
    <% posted_content.categories.each do |category| %>
      <% this_categories << category.category %>
    <% end %>
    <% if this_categories.length != 0 %>
      <div class = "content_tag">
          <p><%= this_categories[0] %></p>
      </div>
    <% end %>
    <% if this_categories.length > 1 %>
    <div class = "other_tags">
      <p>...</p>
    </div>
    <% end %>
    <div class = "created_date"><!--  -->
      <p><%= posted_content.created_at.strftime("%Y/%m/%d")%></p>
    </div>
  </div>
  <div class = "posted_content__thumbnail">
    <% if posted_content.post_type == 'youtube' %>
      <% url_parts = posted_content.youtube.gsub('https://www.youtube.com/watch?v=', '').split("&")[0] %>
      <iframe width="200px" height="200px" src="https://www.youtube.com/embed/<%= url_parts %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <% elsif posted_content.post_type == 'video'%>
      <%= video_tag(posted_content.video, width: '200px', height: '200px', :controls => true) %>
    <% end %>
  </div>
  <div class = "posted_content__title">
    <p><%= posted_content.title %></p>
  </div>
  <div class = "posted_content__likes">
    <i class="fa fa-heart fa-lg">
      <a><%= posted_content.likes_count %></a>
    </i>
    <div class = "show_detail">
      <%= link_to '詳細', post_path(posted_content.id) %>
    </div>
  </div>
</div>
