<%= render "shared/header" %>
<div class = "posted_content_show_wrapper">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <div class = "posted_content_show">
    <div class = "posted_content_show__player">
      <% if @post.post_type == 'youtube' %>
        <% url_parts = @post.youtube.gsub('https://www.youtube.com/watch?v=', '').split("&")[0] %>
        <iframe width="90%" height="90%" src="https://www.youtube.com/embed/<%= url_parts %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <% elsif @post.post_type == 'video'%>
        <%= video_tag(@post.video, width: '90%', height: '90%', :controls => true) %>
      <% end %>
    </div>
    <div class = "posted_content_show__title">
      <div class = "title">
        <h3><%= @post.title %></h3>
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <i class="fa fa-cog fa-1x">
            <%= link_to '削除', "/posts/#{@post.id}", method: :delete, class: "delete_post_btn post_btn", data: { confirm: 'この投稿を削除しますか?' } %>
            <%= link_to '編集', edit_post_path(@post.id), class: "edit_post_btn post_btn" %>
          </i>
        <% end %>
      </div>
      <div class = "likes">
        <div class = "float_left_wrapper">
          <a class = "play_count">
            X,XXX&nbsp;回視聴
          </a>
          <div id = "likes_icon_wrapper">
            <%= render partial: 'shared/like', locals: { post: @post, likes: @likes, like: @like} %>
          </div>
<!--           <i class="fas fa-thumbs-up">&nbsp;&nbsp;&nbsp;60</i>
          <i class="fas fa-thumbs-down">&nbsp;&nbsp;&nbsp;25</i> -->
        </div>
        <div class = "float_right_wrapper">
          <div class = "user_icon_wrapper">
            <%= image_tag @post.user.avatar, :size => "40x40", :alt => "user" %>
          </div>
          <div class = "user_info_wrapper">
            <a href = <%= "/users/#{@post.user_id}" %>, class = "user_nickname"><%= @post.user.nickname %></a>
            <a class ="posted_date">
              <%= @post.created_at.strftime("%Y/%m/%d") %>&nbsp;に公開
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class = "posted_content_show__note">
      <h3>NOTE</h3>
      <p>
        <%= @post.description %>
      </p>
    </div>
    <div class = "posted_content_show__comment">
      <h3>COMMENT</h3>
      <div class = "comment_form_wrapper">
        <%= form_for [@post, @comment] do |f| %>
          <%= f.text_area :comment, class: "comment_form_textarea" %>
          <%= f.button 'POST', type: :submit, class: "submitting_comment_btn" %>
        <% end %>
      </div>
      <div class = "showing_comments_field">
        <%= render partial: 'shared/comment', collection: @comments %>
        <%= paginate @comments, remote: true %>
      </div>
    </div>
  </div>
</div>
